In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [2]:
%matplotlib auto

Using matplotlib backend: MacOSX

In [73]:
# this is a comment
dat = pd.DataFrame.from_csv('/Users/birdy/Documents/workspace/VEGAS/DecisionMakingResultsLCOE.txt', index_col=None, sep=' ')

/Users/birdy/miniconda2/lib/python2.7/site-packages/ipykernel_launcher.py:2: FutureWarning: from_csv is deprecated. Please use read_csv(...) instead. Note that some of the default arguments are different, so please refer to the documentation for from_csv when changing your function calls

In [74]:
dat.head(15)

,reactor_build_decision,htgr_capital_cost,sfr_capital_cost,g_lcoe,u_lcoe
0,0,0,0,0.415166,9.716755
1,0,0,1,0.415166,9.716755
2,0,0,2,0.415166,9.716755
3,0,1,0,0.415166,9.716755
4,0,1,1,0.415166,9.716755
5,0,1,2,0.415166,9.716755
6,0,2,0,0.415166,9.716755
7,0,2,1,0.415166,9.716755
8,0,2,2,0.415166,9.716755
9,1,0,0,0.394595,9.634036
10,1,0,0,0.314190,9.300388
11,1,0,1,0.394595,9.634036
12,1,0,1,0.314190,9.300388
13,1,0,2,0.394595,9.634036
14,1,0,2,0.314190,9.300388

In [75]:
dat['lcoe'] = dat['g_lcoe'] + dat['u_lcoe']

In [76]:
dat.head(15)

,reactor_build_decision,htgr_capital_cost,sfr_capital_cost,g_lcoe,u_lcoe,lcoe
0,0,0,0,0.415166,9.716755,10.131921
1,0,0,1,0.415166,9.716755,10.131921
2,0,0,2,0.415166,9.716755,10.131921
3,0,1,0,0.415166,9.716755,10.131921
4,0,1,1,0.415166,9.716755,10.131921
5,0,1,2,0.415166,9.716755,10.131921
6,0,2,0,0.415166,9.716755,10.131921
7,0,2,1,0.415166,9.716755,10.131921
8,0,2,2,0.415166,9.716755,10.131921
9,1,0,0,0.394595,9.634036,10.028631
10,1,0,0,0.314190,9.300388,9.614578
11,1,0,1,0.394595,9.634036,10.028631
12,1,0,1,0.314190,9.300388,9.614578
13,1,0,2,0.394595,9.634036,10.028631
14,1,0,2,0.314190,9.300388,9.614578

In [123]:
for i in range(len(dat)):
    dat["marker"] = "0"

In [132]:
#np.where(dat['reactor_build_decision'] == 0, dat['marker'] = '.')
#np.where(dat['reactor_build_decision'] == 1, dat['marker'] = 'o')

def f(x):
    # takes a row and then returns the desired string for a marker type
    if x['reactor_build_decision'] == 0:
        return '.'
    elif x['reactor_build_decision'] == 1:
        return '+'
    elif x['reactor_build_decision'] == 2:
        return 'o'
    else:
        # last possibility is RBD is 3
        return '*'
    
dat['marker'] = dat.apply(f, axis=1)

In [133]:
dat.tail(10)

,reactor_build_decision,htgr_capital_cost,sfr_capital_cost,g_lcoe,u_lcoe,lcoe,marker
431,3,2,0,0.299672,9.691048,9.990719,*
432,3,2,0,0.240359,9.705889,9.946249,*
433,3,2,1,0.326800,9.760074,10.086874,*
434,3,2,1,0.244934,9.721755,9.966689,*
435,3,2,1,0.299672,9.714279,10.013951,*
436,3,2,1,0.240359,9.732901,9.973260,*
437,3,2,2,0.326800,9.773350,10.100150,*
438,3,2,2,0.244934,9.734993,9.979928,*
439,3,2,2,0.299672,9.737483,10.037155,*
440,3,2,2,0.240359,9.759885,10.000245,*

In [115]:
dat.loc[6][2]

0

In [87]:
len(dat)
#dat.loc[440][0]

441

In [106]:
for i in range(dat.shape[0]):
    if (dat.loc[i]['reactor_build_decision'] == "0"): 
        dat.loc[i]['marker'] = "."
        #value = 1
    elif (dat.loc[i]['reactor_build_decision'] == "1"):
        dat.loc[i]['marker'] = "+"
    elif (dat.loc[i]['reactor_build_decision'] == "2"):
        dat.loc[i]['marker'] = "o"
    elif (dat.loc[i]['reactor_build_decision'] == "3"):
        dat.loc[i]['marker'] == "*"
#value

In [116]:
#for i in range(dat.shape[0]):
#    if (dat.loc[i][0] == "0"): 
#        dat.loc[i][6] = "."
#        #value = 1
#    elif (dat.loc[i][0] == "1"):
#        dat.loc[i][6] = "+"
#    elif (dat.loc[i][0] == "2"):
#        dat.loc[i][6] = "o"
#    elif (dat.loc[i][0] == "3"):
#        dat.loc[i][6] == "*"
#value

In [134]:
dat.head(15)

,reactor_build_decision,htgr_capital_cost,sfr_capital_cost,g_lcoe,u_lcoe,lcoe,marker
0,0,0,0,0.415166,9.716755,10.131921,.
1,0,0,1,0.415166,9.716755,10.131921,.
2,0,0,2,0.415166,9.716755,10.131921,.
3,0,1,0,0.415166,9.716755,10.131921,.
4,0,1,1,0.415166,9.716755,10.131921,.
5,0,1,2,0.415166,9.716755,10.131921,.
6,0,2,0,0.415166,9.716755,10.131921,.
7,0,2,1,0.415166,9.716755,10.131921,.
8,0,2,2,0.415166,9.716755,10.131921,.
9,1,0,0,0.394595,9.634036,10.028631,+
10,1,0,0,0.314190,9.300388,9.614578,+
11,1,0,1,0.394595,9.634036,10.028631,+
12,1,0,1,0.314190,9.300388,9.614578,+
13,1,0,2,0.394595,9.634036,10.028631,+
14,1,0,2,0.314190,9.300388,9.614578,+

In [9]:
dat.groupby(['reactor_build_decision','htgr_capital_cost'])

In [10]:
print dat.groupby(['reactor_build_decision','htgr_capital_cost']).mean().to_latex()

\begin{tabular}{llrrr}
\toprule
  &   &  sfr\_capital\_cost &    g\_lcoe &    u\_lcoe \\
reactor\_build\_decision & htgr\_capital\_cost &                   &           &           \\
\midrule
0 & 0 &                 1 &  0.415166 &  9.716755 \\
  & 1 &                 1 &  0.415166 &  9.716755 \\
  & 2 &                 1 &  0.415166 &  9.716755 \\
1 & 0 &                 1 &  0.301610 &  9.313882 \\
  & 1 &                 1 &  0.301610 &  9.503287 \\
  & 2 &                 1 &  0.301610 &  9.692639 \\
2 & 0 &                 1 &  0.385699 &  9.716187 \\
  & 1 &                 1 &  0.385699 &  9.716187 \\
  & 2 &                 1 &  0.385699 &  9.716187 \\
3 & 0 &                 1 &  0.304503 &  9.382353 \\
  & 1 &                 1 &  0.304503 &  9.538982 \\
  & 2 &                 1 &  0.304503 &  9.695560 \\
\bottomrule
\end{tabular}

In [21]:
# set styles
sns.set(style="whitegrid", palette="dark", color_codes=True, context='talk')

# Draw a nested violinplot and split the violins for easier comparison
g = sns.lmplot(x="g_lcoe", y="u_lcoe", hue="reactor_build_decision",
               truncate=True, size=5, data=dat, fit_reg=False, scatter_kws={"s": 25})

sns.despine(left=True)

plt.show()

In [59]:
sns.set(style="whitegrid", palette="dark", color_codes=True, context='talk')

#z = np.random.rand(3, 100)
#cmap = sns.cubehelix_palette(as_cmap=True)

In [154]:
sns.set(font_scale=.75)

#sns.factorplot(x="g_lcoe", y="u_lcoe", hue="reactor_build_decision",
              #data=dat, kind="box", size=4, aspect=.5, marker=dat['marker']);
    
#sns.jointplot(x="g_lcoe", y="u_lcoe", hue="reactor_build_decision",
              #data=dat, size=6, aspect=.5);
    
sns.jointplot(x="g_lcoe", y="u_lcoe",
              data=dat, kind="scatter", hue="marker");

ValueError: Unrecognized marker style marker

In [46]:
sns.set(style="ticks")

# Plot the orbital period with horizontal boxes
#sns.boxplot(x="htgr_capital_cost", y="g_lcoe", data=dat,
           #whis=np.inf, palette="vlag")

# Add in points to show each observation
sns.swarmplot(x="sfr_capital_cost", y="u_lcoe", data=dat,
              size=2, color=".3", linewidth=0)